

.add-ingredient-input {
  margin-top: .3rem;
  margin-bottom: .3rem;
  width: 300px;
}

.add-ingredient-btn {
  margin-top: .3rem;
  margin-bottom: 1.5rem;
}

.ingredients-form-group {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}
