

.add-ingredient-input {
  margin-top: .3rem;
  margin-bottom: .3rem;
  width: 300px;
}

.ingredients-form-group {
  display: grid;
  grid-template-columns: 300px;
  position: relative;
  margin-bottom: 1rem;
}

.close-btn {
  position: absolute !important;
  right: -17.5%;
  top: 10%;
}
