
.ingredients-form-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredients-form-group {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  position: relative;
  margin-bottom: 1rem;
}

.close-btn {
  position: absolute !important;
  right: -17.5%;
  top: 10%;
}
